body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK9YfKMCMdiHUGzm3Rf6JQT1N1D5hJ-zgq4Q&s');
    background-size: cover;
    background-position: center;
}
  